<div id="footer" class="footer">
    <div class="container-fluid text-center text-md-left footer-container">
        <!-- Grid row -->
        <div class="row mt-5">

            <!-- Grid column -->
            <div class="offset-md-2 col-md-6 mt-md-0 ">

                <!-- Content -->
                <h4 class="text-uppercase">개발왕 김복동 & 오복동</h4>
                <p>
                    술 한잔 마셨읍니다... 평가가 안 좋아도 좋습니다.
                    하지만 SSAFLIX 하나만 기억해주세요<br>
                    진심을 다해 전합니다.<br>
                    사이트가 별로일 수 있읍니다..<br>
                    밤낮으로 고민하고 만들었읍니다...
                    최선을 다했고 열심히 했읍니다...<br>
                    저희의 진심이 느껴지길 바랍니다 고맙습니다...<br>
                    그만큼 사이트가 좋다능..<br>
                </p>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-2 offset-md-2 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Links</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="#">싸플릭스</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center">© 2019 Copyright:
        <a href="#"> TOPSUPDUO.com</a>
    </div>
</div>