<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Do+Hyeon&amp;subset=korean" rel="stylesheet">
  <title>SSAFLIX</title>
  <style>
    body {
      margin: 0;
    }
    iframe {
      margin-left: -132px;
      margin-top: -100px;
    }
    .home {
      position: absolute;
      top:0;
      left: 0;
      text-decoration: none;
      color: #FF0000;
      z-index: 77;
      font-size: 40px;
      font-family: 'Do Hyeon', sans-serif;
    }
  </style>
</head>
<body>
    <iframe width="2200" height="1200" src="https://www.youtube.com/embed/UhVjp48U2Oc?autoplay=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <a class="home" href="http://ssafy-movie-gstjs.c9users.io:8080/movies/">SSAFLIX</a>
    <script>
      setTimeout(function(){
        location.href="http://ssafy-movie-gstjs.c9users.io:8080/movies/"
      },38000)
      
    </script>
</body>
</html>