<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <h1>1. v-if</h1>
    <p v-if='isTure'>
      v-if directive - true
    </p>
    <p v-if='isFalse'>
      v-if directive - false
    </p>
    <h1>2. v-show</h1>
    <p v-show='isTure'>
      v-show directive - true
    </p>
    <p v-show='isFalse'>
      v-show directive - false
    </p>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
    const app = new Vue({
      el: '#app',
      data: {
        isTure: true,
        isFalse: false,
      }
    })
  </script>
</body>
</html>
