Requirement already satisfied: libsass in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.18.0)
Requirement already satisfied: django-compressor in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (2.2)
Requirement already satisfied: django-sass-processor in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (0.7.3)
Requirement already satisfied: freeze in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (1.0.10)
Requirement already satisfied: six in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from libsass) (1.12.0)
Requirement already satisfied: django-appconf>=1.0 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from django-compressor) (1.0.3)
Requirement already satisfied: rjsmin==1.0.12 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from django-compressor) (1.0.12)
Requirement already satisfied: rcssmin==1.0.6 in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from django-compressor) (1.0.6)
Requirement already satisfied: django in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from django-appconf>=1.0->django-compressor) (2.1.8)
Requirement already satisfied: pytz in /Library/Frameworks/Python.framework/Versions/3.7/lib/python3.7/site-packages (from django->django-appconf>=1.0->django-compressor) (2019.1)
